.app {
  height: 100vh;
  background: url("images//ramad-image-.avif") no-repeat;
  background-size: 200vh; /* increase the size of the image */
  background-position: center; /* offset the image vertically towards the top and horizontally centered */
  filter: saturate(1.3);

}

* {
  font-family: 'Roboto', sans-serif;
}
